In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(
    "../data/visa_data.csv",
    encoding="latin1",
    sep=None,
    engine="python"
)

df.head()

,applicant_id,age,nationality,current_residence,marital_status,dependents,education_level,occupation,work_experience_years,sponsorship_status,...,purpose_of_travel,intended_duration,travel_history,target_country,visa_category_(label),previous_visa_rejections,criminal_record_check,medical_exam_status,document_completeness_score,visa_fee_payment_status
0,C71788,24,Australia,Philippines,Single,3,High School,Farmer,8,University Admission,...,Tourism,Long-term,Previous Visa,US,Visitor,0,Clear,Passed,62,Paid
1,C67219,24,Paraguay,Chile,Single,4,PhD,Driver,30,Job Offer,...,Tourism,Long-term,Previous Visa,Australia,Visitor,2,Clear,Passed,75,Paid
2,C54067,51,Colombia,Netherlands,Married,4,High School,Chef,24,Job Offer,...,PR,Permanent,Previous Visa,US,PR,1,Clear,Passed,96,Paid
3,C07169,54,Algeria,South Korea,Divorced,1,High School,Artist,34,Job Offer,...,Study,Long-term,Clean,UK,Student,0,Clear,Passed,75,Paid
4,C29619,34,Guatemala,Ghana,Single,1,High School,Nurse,10,Job Offer,...,Work,Short-term,Previous Visa,Germany,Work,0,Clear,Passed,64,Paid

In [3]:
df.shape
df.info()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   applicant_id                 120000 non-null  str
 1   age                          119308 non-null  str
 2   nationality                  118901 non-null  str
 3   current_residence            118870 non-null  str
 4   marital_status               120000 non-null  str
 5   dependents                   119106 non-null  str
 6   education_level              120000 non-null  str
 7   occupation                   120000 non-null  str
 8   work_experience_years        119414 non-null  str
 9   sponsorship_status           95418 non-null   str
 10  financial_status             120000 non-null  str
 11  language_proficiency         100487 non-null  str
 12  purpose_of_travel            120000 non-null  str
 13  intended_duration            120000 non-null  str
 14  travel_history               120000 non-null  str
 15  target_country               120000 non-null  str
 16  visa_category_(label)        118568 non-null  str
 17  previous_visa_rejections     120000 non-null  int64
 18  criminal_record_check        120000 non-null  str
 19  medical_exam_status          120000 non-null  str
 20  document_completeness_score  120000 non-null  int64
 21  visa_fee_payment_status      120000 non-null  str
dtypes: int64(2), str(20)
memory usage: 20.1 MB

applicant_id                       0
age                              692
nationality                     1099
current_residence               1130
marital_status                     0
dependents                       894
education_level                    0
occupation                         0
work_experience_years            586
sponsorship_status             24582
financial_status                   0
language_proficiency           19513
purpose_of_travel                  0
intended_duration                  0
travel_history                     0
target_country                     0
visa_category_(label)           1432
previous_visa_rejections           0
criminal_record_check              0
medical_exam_status                0
document_completeness_score        0
visa_fee_payment_status            0
dtype: int64

In [4]:
X = df.drop(columns=['visa_category_(label)'])
y = df['visa_category_(label)']

In [5]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

categorical_cols, numerical_cols

C:\Users\Khushi Rana\AppData\Local\Temp\ipykernel_1804\3264876.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  categorical_cols = X.select_dtypes(include='object').columns

(Index(['applicant_id', 'age', 'nationality', 'current_residence',
        'marital_status', 'dependents', 'education_level', 'occupation',
        'work_experience_years', 'sponsorship_status', 'financial_status',
        'language_proficiency', 'purpose_of_travel', 'intended_duration',
        'travel_history', 'target_country', 'criminal_record_check',
        'medical_exam_status', 'visa_fee_payment_status'],
       dtype='str'),
 Index(['previous_visa_rejections', 'document_completeness_score'], dtype='str'))

In [6]:
X[categorical_cols].nunique().sort_values()

intended_duration               3
travel_history                  3
financial_status                3
sponsorship_status              3
medical_exam_status             3
visa_fee_payment_status         3
criminal_record_check           3
education_level                 4
marital_status                  4
target_country                  5
purpose_of_travel               6
dependents                     10
occupation                     16
work_experience_years          45
age                            51
nationality                    63
current_residence              63
language_proficiency           66
applicant_id               120000
dtype: int64

In [7]:
low_cardinality_cols = [
    'marital_status',
    'education_level',
    'sponsorship_status',
    'financial_status',
    'language_proficiency',
    'purpose_of_travel',
    'visa_fee_payment_status',
    'medical_exam_status',
    'criminal_record_check'
]

high_cardinality_cols = [
    'nationality',
    'occupation',
    'target_country',
    'current_residence'
]

In [8]:
X_encoded = pd.get_dummies(
    X,
    columns=low_cardinality_cols,
    drop_first=True
)

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in high_cardinality_cols:
    X_encoded[col] = le.fit_transform(X_encoded[col])

In [10]:
X_encoded.shape
X_encoded.head()

,applicant_id,age,nationality,current_residence,dependents,occupation,work_experience_years,intended_duration,travel_history,target_country,...,purpose_of_travel_Special,purpose_of_travel_Study,purpose_of_travel_Tourism,purpose_of_travel_Work,visa_fee_payment_status_Pending,visa_fee_payment_status_Waived,medical_exam_status_Passed,medical_exam_status_Pending,criminal_record_check_Minor Offense,criminal_record_check_Pending
0,C71788,24,3,42,3,9,8,Long-term,Previous Visa,4,...,False,False,True,False,False,False,True,False,False,False
1,C67219,24,40,9,4,7,30,Long-term,Previous Visa,0,...,False,False,True,False,False,False,True,False,False,False
2,C54067,51,11,34,4,3,24,Permanent,Previous Visa,4,...,False,False,False,False,False,False,True,False,False,False
3,C07169,54,0,49,1,2,34,Long-term,Clean,3,...,False,True,False,False,False,False,True,False,False,False
4,C29619,34,20,18,1,11,10,Short-term,Previous Visa,2,...,False,False,False,True,False,False,True,False,False,False

In [11]:
if y.dtype == 'object':
    y = LabelEncoder().fit_transform(y)

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded,
    y,
    test_size=0.2,
    random_state=42
)

In [16]:
X_train.shape, X_test.shape

((96000, 98), (24000, 98))